- content_for :page_title, 'Your Repos'

= render 'settings'

- if display_onboarding?
  = render 'onboarding'


= react_component('RepoList', {userHasCard: current_user.stripe_customer_id.present?, hasPrivateRepoAccess: current_user.has_access_to_private_repos?}, { prerender: false })
