- content_for :page_title, 'Your Repos'

= render 'settings'

- if display_onboarding?
  = render 'onboarding'


= react_component('RepoList', {hasPrivateRepoAccess: current_user.has_access_to_private_repos?}, { prerender: false })

-# %section.organization-list{ 'organization-list' => '' }
-# = render 'preload_template', template: 'organization_list'
